.nav-link:hover {
    color:white;
}

.index {
    margin: 20px 0;
}

.menu {
    /* padding: 180px; */
    height: 350px;
    width: 350px;
    font-size: 2em;
    text-decoration: none;
}

.index button:hover {
    background-color:#0174c7;
    color: white;
}