{% extends 'base.html' %}
{% block main %}        
            <div class="row index">         
                <div class="col text-center">
                    <a href="{{ url_for('findid') }}"><button type="button" class="btn btn-info menu">Find by id</button></a>
                </div>
                <div class="col text-center">
                    <a href="{{ url_for('findname') }}"><button type="button" class="btn btn-info menu">Find by name</button></a>
                </div>
                <div class="col text-center">
                    <a href="{{ url_for('add') }}"><button type="button" class="btn btn-info menu">Add user</button></a>
                </div>
            </div>
            <div class="row index">
                <div class="col text-center">
                    <a href="{{ url_for('update') }}"><button type="button" class="btn btn-info menu">Update user</button></a>
                </div>
                <div class="col text-center">
                    <a href="{{ url_for('delete') }}"><button type="button" class="btn btn-info menu">Delete user</button></a>
                </div>
                <div class="col text-center">
                    <a href="{{ url_for('logout') }}"><button type="button" class="btn btn-info menu">Log Out</button></a>
                </div>            
            </div>       
{% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>