{% extends 'base_login.html' %}
{% block main %}        
        <div class="row">
            <div class="col text-center">
                <h2>Enter username to login:</h2>
                <form action = "{{ url_for('login') }}" method="post">
                    {{ form.csrv_token }}
                    {{ form.username.label }}
                    {{ form.username }}<br><br>
                    {{ form.password.label }}
                    {{ form.password }}<br><br>
                    {{ form.submit }}
                </form>
                {% if error %}            
                    <div class="alert alert-danger" role="alert">
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>   
{% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>